<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <style>.error{color:red;}</style>
</head>
<body>
<h2>Employee Form</h2>

<form th:action="@{/employees/save}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}" />

    First name:
    <input type="text" th:field="*{firstName}" />
    <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    <br><br>

    Last name:
    <input type="text" th:field="*{lastName}" />
    <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    <br><br>

    Email:
    <input type="text" th:field="*{email}" />
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br><br>

    <input type="submit" value="Save" />
</form>

<br>
<a th:href="@{/employees}">Back</a>
</body>
</html>
